button {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 20px;
  padding: 8px 16px;
  cursor: pointer;
  transition: 0.3s;
}


button:hover {
  background-color: black;
  color: white;
}
